body{
 width: 300px;
}
#result{
 background-color: black; 
 color: white;
 width: 93%;
 height: 30px;
 font-size: 30px;
 padding: 5px;
}
.element{
 display: flex;
}
.element2{
 display: flex;
 width: 187%;
}
input{
 height: auto;
 width: calc(100%/4);
 font-size: 30px;
 margin: 5px;
}
